.App {
  text-align: center;
  font-size: 3em;
  background-color: #d4d5f9;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.todo-input {
  margin-right: 10px;
  padding: 20px;
  font-size: 20px;
}

.todo-submit{
  background-color: #cba4fc;
}

.todo-delete {
  margin-right: 12px;
  background-color: #f49377;
}

.todo-undelete {
  background-color: #7bd18c;
  margin-left: 10px;
}

button {
  border-radius: 2px;
  color: #020260;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  text-align: left;
}

ul li{
  margin: 20px;
  background-color: #f9edf9;
  font-size: 25px;
  font-weight: bold;
}

h1 {
  color: #7004f4;
}

#taskList{
  padding: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #7004f4;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #7004f4;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #7004f4;
}
